body {
    margin: 0;
    padding: 0;
}

section.overview {
    width: 90%;
    margin: 0 auto 0 auto;
    height: 150px;
    position: relative;
    z-index: 10;
}

section.main {
    width: 100%;
    height: 500px;
    margin: 0px auto 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 5;
}

section.about {
    width: 80%;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 5;
}

/*map*/
#map {
    width: 80%;
    height: 100%;
    margin: 0px auto 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.geocoder {
    width: 50%;
    margin: 0px auto 0 auto;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}